{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Index</a>
<!--		<a href="/about-sobre/" class="menu__item">about :: sobre</a>
		<a href="/shop-lojinha/" class="menu__item">shop :: loja</a>-->
		<a href="https://www.facebook.com/pages/Sofiazinha-Shop/591431900967196" class="menu__item">facebook</a>
		<a href="http://www.pinterest.com/sofiazinha/" class="menu__item">pinterest</a>
		<a href="https://www.etsy.com/shop/sofiazinha" class="menu__item">etsy</a>
	</div>
</nav>
